.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-top: 5px
}

.user-link {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.user-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout-button {
    height: 30px;
    width: 80px;
    border: 2px solid black;
    background-color: #E6BBAD;
    font-weight: lighter;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
}

.the-nav {
    background-color: lightblue;
    margin: -10px;
}
