.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin-top: 5px
}

.user-link {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.user-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout-button {
  outline: none;
  border: none;
  background-color: transparent;
}

.the-nav {
    background-color: lightblue;
    margin: -10px;
}

.nav-login-signup {
    display: flex;
    align-items: center;
}

.nav-signup {
    margin-left: 30px;
}

.demo-button {
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
    margin-left: 30px;
    font-weight:bold;
    border: none;
    background-color: lightblue;
}
