.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D7ADE6;
    margin-top: 60px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    font-family: 'Single Day', cursive;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Londrina Sketch', cursive;
    margin-left: 300px;
    margin-right: 200px;
}

a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-me {
    text-align: center;
    font-family: 'Londrina Sketch', cursive;
    font-weight: bold;
    font-size: 25px;
}
