.splash-page {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    min-width: 90%;
}

.splash-image {
    max-width: 1000px;
    max-height: 590px;
    border-radius: 10px;
}

.splash-paragraph {
    max-width: 380px;
    font-family: 'Special Elite', cursive;
    background-color: #BCE6AD;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    font-size: 31px;
    border-radius: 10px;
}

.splash-signup {
    text-align: center;
}
