.splash-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.splash-image {
    max-width: 1000px;
    max-height: 500px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}

.splash-paragraph {
    max-width: 900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #BCE6AD;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    box-shadow: 5px 5px 5px #BCE6AD;
}

.splash-signup {
    text-align: center;
}
