.text-note {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.music-note-page {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 30px;
}

.music-and-note {
    display: flex;
    flex-direction: row;
}

.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 700px;
}

.tags-container {
    text-align: center;
}

.video-note-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.video {
    margin-bottom: 20px;
}

.text-note-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#movie-note {
    text-align: center;
    max-width: 500px;
}

#movie-tags {
    display: flex;
    justify-content: center;
    max-width: 500px;
}

.text-note {
    margin-bottom: 200px;
}
